name: ⚡️ Deploy Dashboard (Production)

on:
  workflow_dispatch:
  push:
    branches:
      - domain-move


jobs:
  deploy-to-production:
    uses: ./.github/workflows/fleek-deploy-common.yml
    with:
      environment: production
    secrets:
      fleek_token: ${{ secrets.FLEEK_TOKEN }}
      doppler_token: ${{ secrets.DOPPLER_TOKEN }}
